.ctaSeaction{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    p {
        color: black;
        font-size: 25px;
    }
}
.nav{
    height: 120px;
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    .imgCta{
        margin-top: -20px;
        
    }
    .containerButton{
        display: flex;
        gap: 15px;
        .button{
            padding: 12px 25px;
            font-size: 30px;
            color: #fff;
            border-color: transparent;
            border-bottom: 2px solid transparent;
            transition: ease 0.3s;
            &:hover{
                color: #c4c4c4;
                background-color: transparent;
                border-bottom: 2px solid rgb(145, 20, 247);
                transition: ease-in-out 0.3s;
            }
        }
    }

}
