.container_master{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('/assets/backProfile/buble.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    .container_anime{
        display: flex;
        width: 100%;
        max-width: 1200px;
        max-height: 350px;
        margin-top: 200px;
        background-color: rgb(40,40,40);
        .container_thumbnail{
            width: 255px;
            height: 350px;
            .thumb{
                width: 255px;
                height: 350px;
            }
        }
        .container_info{
            width: 100%;
            text-align: left;
            padding: 0px;
            display: flex;
            justify-content: center;
            padding: 0 20px;
            flex-direction: column;
            .title{
                font-size: 50px;
            }
            .synopsis{
                font-size: 25px;
            }
            .container_categories{
                margin: 20px 0;
                display: flex;
                gap: 12px;
                .categories{
                    padding: 10px 15px;
                    border-radius: 2px;
                    font-size: 20px;
                    color: #fff;
                    background-color: #631dc0;
                }
            }
            .like_favorite{
                display: flex;
                justify-content: right;
                gap: 20px;
                padding: 0 60px;
                .icon{
                    width: 30px;
                }
                .img{
                    width: 40px;
                    margin-top: 0px;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:hover{
                        transform: scale(90%);
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
    .container_episodes{
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 50px 0;
        padding: 15px 20px;
        width: 100%;
        max-width: 1500px;
        min-height: 300px;
        height: 100%;
        background-color: rgb(40,40,40);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        .container_content{
            width: 100%;
            .btn{
                margin: 20px 0;
                font-size: 20px;
            }
            .container_stream{
                display: flex;
                gap: 20px;
                padding-bottom: 20px;
                .card{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #631dc0;
                    width: 150px;
                    height: 70px;
                    text-decoration: none;
                    color: #fff;
                    font-size: 18px;
                    transition: all 0.3s;
                    text-align: center;
                    &:hover{
                        z-index: 1;
                        transform: scale(95%);
                        transition: all 0.3s;
                        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('/assets/play.png');
                        background-repeat: no-repeat;
                        background-size: auto;
                        background-position: center;
                    }
                }
                .none{
                    width: 100%;
                    height: 100%;
                    background-color: blue;
                    color: #fff;
                }
            }
            
        }
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        .container_left_right{
            width: 100%;
            height: 100%;
            margin-top: -80px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .container_left{
                margin-top: -50px;
                .title{
                    font-size: 40px;
                }
                iframe{
                    border: 2px solid rgb(40,40,40);
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                }
            }
            .container_right{
                display: flex;
                align-items: center;
                justify-content: top;
                flex-direction: column;
                padding: 10px 0;
                width: 400px;
                max-height: 550px;
                height: 100%;
                border-radius: 5px;
                background-color: rgb(40,40,40);
                overflow-y: auto;
                overflow-x: hidden;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                .list{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    justify-content: center;
                    align-items: center;
                    margin: 10px;
                    .title{
                        font-size: 25px;
                    }
                    .btn{
                        width: 300px;
                        background-color: #631dc0;
                        border: none;
                        font-size: 20px;
                    }
                    .item_list{
                        transition: all 0.3s;
                        &:hover{
                            transform: scale(95%);
                            transition: all 0.3s;
                        }
                        .link{
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}