.container_master{
    margin-top: -180px;
    width: 100%;
    height: 100vh;
    display: flex;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;
        background-image: url('/assets/backProfile/buble-home.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #631dc0;
        .container_title{
            margin-top: -50px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .title{
                margin: 20px 0;
                font-size: 50px;
                color: #fff;
            }
            img{
                border-radius: 100%;
                width: 50px;
                height: 50px;
                object-fit: cover;
            }
        }
        .container_order{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin-top: 180px;
            .alert{
                font-size: 30px;
                margin: 30px 0;
            }
            .container_form{
                max-width: 480px;
                max-height: 550px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                border: 3px solid #fff;
                backdrop-filter: blur(15px);
                box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
                .form{
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    max-width: 450px;
                    width: 100%;
                    padding: 0 20px;
                    .formgroup{
                        position: relative;
                        height: 60px;
                        margin: 20px 0;
                        .input{
                            position: absolute;
                            top:0;
                            left:0;
                            width:100%;
                            height:100%;
                            font-size: 21px;
                            color: #fff;
                            border: 2px solid #fff;
                            border-radius: 5px;
                            outline:none;
                            padding:1rem;
                            background:none;
                            z-index: 1;
                            box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
                        }
                        .label{
                            position: absolute;
                            left:1rem;
                            top: 0.8rem;
                            padding:0 .35rem;
                            background-color: #631dc0;
                            color: #fff;
                            font-size: 22px;
                            transition: 0.3s;
                        }
                        .input:focus + .label{
                            top: -1rem;
                            left:.8rem;
                            color: #fff;
                            font-size: 20px;
                            font-weight: 500;
                            z-index: 10;
                            
                        }
                        .input:not(:placeholder-shown).input:not(:focus)+ .label{
                            top: -1rem;
                            left:.8rem;
                            font-size: 20px;
                            z-index: 10;
                        }
                        .input:focus{
                            border: 2px solid #fff;
                        }
                    }
                    .btn{
                        margin-top: 10px;
                        background-color: transparent;
                        padding: 10px 0;
                        border: 2px solid #fff;
                        color: #fff;
                        font-size: 25px;
                        transition: all 0.3s;
                        &:hover{
                            transform: scale(95%);
                            transition: all 0.3s;
                        }
                        &:focus{
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
    .container_background{
        border-left: 4px solid #fff;
        width: 40%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.1)), url('/assets/backProfile/lofi.png');
        background-size: cover;
        background-position: center;
    }
}

