.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 1000px;
    overflow: hidden;
    margin: -40px 0;
    padding: 0 20px;
    background-image: url('/assets/backProfile/buble-home.png');
    .containerContent{
        display: flex;
        width: 1100px;
        max-width: 1100px;
        height: 700px;
        min-height: 720px;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        .containerLeft{
            width: 50%;
            height: 100%;
            position: relative;
            overflow: hidden;
            border: 2px solid #fff;
            border-right: none;
            border-top-left-radius: 30px;
            background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url('/assets/backProfile/profile.gif');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            .containerContentLeft{
                z-index: 1;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                width: 100%;
                height: 100%;
                .title{
                    font-size: 50px;
                }
                .containerBtn{
                    display: flex;
                    gap: 20px;
                    .btn{
                        font-size: 25px;
                    }
                }
            }
        }
        .containerRight{
            width: 50%;
            height: 100%;
            background-color: #fff;
            border-bottom-right-radius: 30px;
            .containerContentRight{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                gap: 50px;
                .title{
                    font-size: 50px;
                    color: rgb(40,40,40);
                }
                .form{
                    display: flex;
                    flex-direction: column;
                    max-width: 450px;
                    width: 100%;
                    padding: 0 20px;
                    .formgroup{
                        position: relative;
                        height: 60px;
                        margin: 20px 0;
                        .input{
                            position: absolute;
                            top:0;
                            left:0;
                            width:100%;
                            height:100%;
                            font-size: 21px;
                            color: rgb(40,40,40);
                            border: 2px solid rgb(40,40,40);
                            border-radius: 5px;
                            outline:none;
                            padding:1rem;
                            background:none;
                            z-index: 1;
                        }
                        .label{
                            position: absolute;
                            left:1rem;
                            top: 0.8rem;
                            padding:0 .35rem;
                            background-color: #fff;
                            color: rgb(40,40,40);
                            font-size: 22px;
                            transition: 0.3s;
                        }
                        .input:focus + .label{
                            top: -1rem;
                            left:.8rem;
                            color: rgb(40,40,40);
                            font-size: 20px;
                            font-weight: 500;
                            z-index: 10;
                            
                        }
                        .input:not(:placeholder-shown).input:not(:focus)+ .label{
                            top: -1rem;
                            left:.8rem;
                            font-size: 20px;
                            z-index: 10;
                        }
                        .input:focus{
                            border: 2px solid #8400ff;
                            box-shadow: none;
                        }
                    }
                    .btn{
                        border: 2px solid rgb(100, 100, 100);
                        margin-top: 20px;
                        width: 100%;
                        max-width: 200px;
                        height: 50px;
                        font-size: 20px;
                    }
                    .inputFile{
                        max-width: 300px;
                        width: 100%;
                        font-size: 20px;
                        transition: all 0.3s;
                        margin: 0 auto;
                        &:focus{
                            box-shadow: none;
                            border-bottom: 2px solid #631dc0;
                            transition: all 0.3s;
                        }
                    }
                    .container_img{
                        width: 180px;
                        height: 180px;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100%;
                        border: 2px solid rgb(40,40,40);
                        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                        background-color: rgb(40,40,40);
                        overflow: hidden;
                        margin: 0 auto;
                        .upload{
                            color: #fff;
                            position: absolute;
                            font-size: 25px;
                        }
                        .img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .container_btn{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .input{
                            width: 100%;
                            border: 2px solid rgb(40,40,40);
                            transition: all 0.3s;
                            &:hover{
                                border: 2px solid #631dc0;
                                transition: all 0.3s;
                            }
                        }
                        .btn{
                            margin: 0 auto;
                        }
                        .rule{
                            color: black;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 780px) {
    .container{
        padding: 0 0px;
        .containerContent{
            flex-direction: column;
            min-height: 100%;
            border-bottom-right-radius: 0;
            border-top-left-radius: 0;
            .containerLeft{
                margin-top: 40px;
                width: 100%;
                height: 40%;
                border: none;
                border-right: none;
                border-top-left-radius: 0;
                background-position: bottom;
                .containerContentLeft{
                    gap: 20px;
                    .title{
                        font-size: 50px;
                    }
                    .containerBtn{
                        display: flex;
                        gap: 20px;
                        .btn{
                            font-size: 25px;
                        }
                    }
                }
            }
            .containerRight{
                width: 100%;
                height: 100%;
                margin-bottom: 40px;
                border-bottom-right-radius: 0px;
                .containerContentRight{
                    .form{
                        .btn{
                            margin: 20px auto;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 340px) {
    .container{
        .containerContent{
            .containerLeft{
                .containerContentLeft{
                    .containerBtn{
                        .btn{
                            font-size: 20px;
                        }
                    }
                }
            }
            .containerRight{
                .containerContentRight{
                    .form{
                        .formgroup{
                            .label{
                               
                                font-size: 20px;
                               
                            }
                            .input:focus + .label{
                                
                                font-size: 20px;
                                
                                
                            }
                            .input:not(:placeholder-shown).input:not(:focus)+ .label{
                               
                                font-size: 20px;
                               
                            }
                            
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 300px) {
    .container{
        .containerContent{
            .containerRight{
                .containerContentRight{
                    .form{
                        .formgroup{
                            .label{
                                top: 1rem;
                                font-size: 18px;
                            }
                            .input:focus + .label{
                                font-size: 19px;  
                            }
                            .input:not(:placeholder-shown).input:not(:focus)+ .label{
                                font-size: 19px;
                            }
                        }
                    }
                }
            }
        }
    }
}