.containerImg{
    position: relative;
    height: 355px;
    overflow: hidden;
    background-color: transparent;
    .img{
        z-index: 3;
        position: absolute;
        top: 0px;
        left: 30px;
        width: 140px;
    }
    .footer{
        position: absolute;
        bottom: 0;
        height: 220px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 22px;
        background-color: rgb(15, 15, 15);
        overflow: hidden;
        padding: 0 20px;
        text-align: center;
        .hr{
            max-width: 700px;
            width: 100%;
            height: 1px;
            color: #fff;
        }
        .containerImgEnd{
            position: relative;
            .imgEnd{
                position: absolute;
                width: 45px;
                left: -21px;
                bottom: -60px;
                cursor: pointer;
            }
        }
        &:hover{
            .imgEnd{
                bottom: -75px;
            }
        }
    }   
}

@media (max-width: 850px) {
    .containerImg{
        .footer{
            text-align: center;
            font-size: 18px;
            .desc{
                margin-bottom: 15px;
            }
            .hr{
                max-width: 550px;
            }
            
        }
    }
}
@media (max-width: 700px) {
    .containerImg{
        .footer{
            text-align: center;
            font-size: 16px;
            .desc{
                margin-bottom: 15px;
            }
            .hr{
                max-width: 450px;
            }
        }
    }
}
@media (max-width: 595px) {
    .containerImg{
        .footer{
            .containerImgEnd{
                .imgEnd{
                    bottom: -50px;
                }
            }
        }
    }
}
@media (max-width: 365px) {
    .containerImg{
        .footer{
            .hr{
                width: 200px;
            }
        }
    }
}
@media (max-width: 345px) {
    .containerImg{
        .footer{
            font-size: 12px;
            .containerImgEnd{
                .imgEnd{
                    bottom: -60px;
                }
            }
        }
        
    }
}