.containerImg{
    position: relative;
    height: 355px;
    overflow: hidden;
    background-color: transparent;
    .img{
        z-index: 3;
        position: absolute;
        top: 0px;
        left: 30px;
        width: 140px;
    }
    .footer{
        position: absolute;
        bottom: 0;
        height: 220px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
        background-color: rgb(15, 15, 15);
        overflow: hidden;
        padding: 0 20px;
        text-align: center;
        .hr{
            max-width: 800px;
            width: 100%;
            height: 1px;
            color: #fff;
        }
        .containerImgEnd{
            position: relative;
            .imgEnd{
                position: absolute;
                width: 50px;
                left: -21px;
                bottom: -66px;
                cursor: pointer;
            }
        }
        &:hover{
            .imgEnd{
                bottom: -85px;
            }
        }
    }   
}


@media (max-width: 700px) {
    .containerImg{
        .footer{
            text-align: center;
            font-size: 15px;
            .desc{
                margin-bottom: 15px;
            }
            .hr{
                max-width: 450px;
            }
            .containerImgEnd{
                position: relative;
                .imgEnd{
                    position: absolute;
                    width: 50px;
                    left: -21px;
                    bottom: -62px;
                    cursor: pointer;
                }
            }
        }
    }
}
@media (max-width: 595px) {
    .containerImg{
        .footer{
            .containerImgEnd{
                .imgEnd{
                    bottom: -52px;
                }
            }
        }
    }
}
@media (max-width: 390px) {
    .containerImg{
        .footer{
            .containerImgEnd{
                .imgEnd{
                    bottom: -53px;
                }
            }
        }
    }
}
@media (max-width: 365px) {
    .containerImg{
        .img{
            top: 10px;
            width: 130px;
        }
        .footer{
            .hr{
                width: 260px;
            }
        }
    }
}
@media (max-width: 326px) {
    .containerImg{
        .footer{
            font-size: 14px;
            .containerImgEnd{
                .imgEnd{
                    bottom: -54px;
                }
            }
        }
    }
}
@media (max-width: 305px) {
    .containerImg{
        .footer{
            .containerImgEnd{
                .imgEnd{
                    width: 40px;
                    bottom: -44px;
                }
            }
        }
    }
}
@media (max-width: 270px) {
    .containerImg{
        .footer{
            .containerImgEnd{
                .imgEnd{
                    width: 35px;
                    bottom: -33px;
                }
            }
        }
    }
}