.mySwiper{
    background-color: rgb(15,15,15);
    height: 60px;
    .slides{
        padding: 0 70px;
        .containerName{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            transition: all 0.3s;
            &:hover{
                transform: scale(95%);
                transition: all 0.3s;
            }
            .link{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                color: #fff;
                text-decoration: none;
                border-radius: 2px;
                height: 35px;
                background-color: #631dc0;
                border-radius: 5px;
                p{
                    margin: auto 0;
                    width: 120px;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .mySwiper{
        height: 50px;
        .slides{
            padding: 0 60px;
            .containerName{
                .link{
                    height: 30px;
                    font-size: 20px;
                    p{
                        width: 100px; 
                    }
                }
            }
        }
    }
}
