.mySwiper{
    margin-top: 5px;
    height: 60px;
    .slides{
        padding: 0 70px;
        .containerName{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .link{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                color: #fff;
                text-decoration: none;
                border-radius: 2px;
                height: 40px;
                background-color: rgb(40,40,40);
                border-radius: 5px;
                p{
                    margin: auto 0;
                    width: 120px;
                    text-align: center;
                }
            }
        }
    }
}

