.mySplide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50px; 
}

.container{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .containerName{
        border-radius: 2px;
        text-align: center;
        background-color: rgb(40,40,40);
        padding: 2px;
        min-width: 110px;
        cursor: pointer;
        font-size: 18px;
        .link{
            text-decoration: none;
            color: #fff;
        }
    }
}
